* {
  line-height: 140%;
  margin: 0;
}

html {
  height: 100%;
}

body {
  /*background-color: #E1E1E1;*/
  background: #E1E1E1;
  background-image: url("/static/background.png");
  margin: 0px;
  padding: 0px;
  height: 100%;
}

a {
  transition: all 0.1s ease-in-out;
  -webkit-transition:all 0.1s ease-in-out;
  -moz-transition:all 0.1s ease-in-out;
  -o-transition:all 0.1s ease-in-out;
}

a:hover {
	color:#7f7f7f;
}

p {
  padding-top: 8px;
  padding-bottom: 8px;
}

.gradient-light-linear {
    background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
}

.title-background {
  background-color: #948C75;
}

.title-box {
    font-size: x-large;
    display: table-cell;
    padding: 1em 2em;
    /*background: #f6c75d url(gradient.png) repeat-x scroll top left;*/
    border: 3px solid #353535;
    border-radius: 15px; /* Standard */
    -o-border-radius: 15px; /* Opera 10.x */
    -moz-border-radius: 15px; /* Mozilla/Firefox */
    -icab-border-radius: 15px; /* iCab */
    -khtml-border-radius: 15px; /* KHTML/Konqueror */
    -webkit-border-radius: 15px; /* Webkit/Safari/Chrome/etcetera */
}

.content-box {
    background-image: -webkit-linear-gradient(rgba(255,255,255,.95), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(rgba(255,255,255,.95), rgba(255,255,255,0));
    background-image: -o-linear-gradient(rgba(255,255,255,.95), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(rgba(255,255,255,.95), rgba(255,255,255,0));
    background-image: linear-gradient(rgba(255,255,255,.95), rgba(255,255,255,0));
    font-size: medium;
    display: table-cell;
    width: 50em;
    padding: 1em 2em;
    border-radius: 15px; /* Standard */
    -o-border-radius: 15px; /* Opera 10.x */
    -moz-border-radius: 15px; /* Mozilla/Firefox */
    -icab-border-radius: 15px; /* iCab */
    -khtml-border-radius: 15px; /* KHTML/Konqueror */
    -webkit-border-radius: 15px; /* Webkit/Safari/Chrome/etcetera */
}

.literal-block {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 3em;
}

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;  
}

#header {
  text-align: center;
}

#header h1 {
  font-weight: normal;
  margin-bottom: 40px;
}

#header_menu {
}

#header_menu ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

#header_menu li {
  display: inline-block;
  text-align: center;
  width: 140px;
  margin-bottom: 40px;
}

#body>table {
  width: 100%;
  border-collapse: collapse;
}

#body>table td {
  vertical-align: top;
}

#left-space {
  min-width: 200px;
}

#content-space {
  width: 700px;
}

#menu_right {
  min-width: 200px;
}

#menu_right>div {
  padding: 100px 20px 20px 20px;
}

#menu_right ul {
  padding: 0px;
}

#menu_right li {
  list-style: none;
  margin-bottom: 30px;
}

#posts tr td {
  padding-left:40px;
  padding-right:40px;  
}

.post_title {
  font-size: x-large;
  display: table-cell;
}

.post_date { /*this is td*/
  padding-top:10px;
}

.post_body { /*this is td*/
  padding-top:40px;
  padding-bottom:40px;
  padding-right:40px;  
}

.post_body:first-child { /*this is td*/
  padding-left:40px;
  padding-right:0;
}

.resource_links a {
  text-decoration: none;
}

#clearfooter {
  height: 40px;
  clear: both;
}

#footer {
  height: 40px;
  position: relative;
  padding: 2px;
  text-align: center;
}

#footer a {
  text-decoration: none;
}

#credit {
  text-align: center;
}

#credit img {
  height: 54px;
}
