* {
  line-height: 140%;
  margin: 0;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

a {
  border-bottom: 1px solid #05c;
	color: #05c;
	text-decoration: none;
}

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;  
}

#header {
  text-align: center;
}

#header h1 {
  font-weight: normal;
  margin-bottom: 40px;
}

#header_menu {
}

#header_menu ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

#header_menu li {
  display: inline-block;
  text-align: center;
  width: 140px;
  margin-bottom: 40px;
}

#body {
  margin-left: 200px;
  margin-right: 200px;
}

#body>table {
  width: 100%;
  border-collapse: collapse;
}

#body>table td {
  vertical-align: top;
}

#body>table td h2 {
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

#body>table tr td:first-child {
  padding-right: 20px;
  padding-left: 20px;
  text-align: justify;
}

#menu_right {
  width: 220px;
}

#menu_right>div {
  border-left: 1px solid #002E00;
  padding: 0px 20px 20px 20px;
}

#menu_right ul {
  padding: 0px;
}

#menu_right li {
  list-style: none;
  margin-bottom: 30px;
}

#clearfooter {
  height: 40px;
  clear: both;
}

#footer {
  height: 40px;
  position: relative;
  padding: 2px;
  color: white;
  background-color: green;
  text-align: center;
}

#footer a {
  text-decoration: none;
  color: white;
}

#credit {
  text-align: center;
}

#credit img {
  height: 54px;
}
