<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
    <!—[if lt IE 7]>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/ie.css" />
    <![endif]—>
    <title>Шум - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/magula.min.css">
    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    <script>
      window.onload = function() {
        var aCodes = document.getElementsByTagName('pre');
        for (var i=0; i < aCodes.length; i++) {
            hljs.highlightBlock(aCodes[i]);
        }
      }
    </script>
</head>

<body id="{% block body_id %}{% endblock %}">
  <div id="container">
    <div id="header">
      <h1>Энтузиаст об информационном шуме</h1>
    </div> <!--/header-->
    <div id="header_menu">
      <ul>
        <li><a href="{% url posts:list %}">Архив</a></li>
        <li><a href="">Тэги</a></li>
        <li><a href="{% url about %}">Контакты</a></li>
      </ul>
    </div> <!--/header_menu-->

    <div id="body">
      <table><tr>
      <td>
    {% block body %}
      <div>
        {% block content_title %}{% endblock %}
      </div>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    {% endblock %}
      </td>
      <td id="menu_right">
        <div>
          <ul>
            <li><a href="">menu</a></li>
            <li><a href="">next</a></li>
            <li><a href="">none</a></li>
          </ul>
        </div>
      </td> <!--/menu_right-->

      </tr></table>
  </div> <!--/body-->
  <div id="clearfooter"></div>
</div> <!--/container-->
<div id="footer">
  <p>Copyright 2012 &copy; Aestetic Blog by Denis Redozubov | <a href="{% url about %}">Что это?</a></p>
</div>
</body>
</html>
