<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />

    <title>Шум - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/magula.min.css">
    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>

    <script>

      window.onload = function() {
        var aCodes = document.getElementsByTagName('pre');
        for (var i=0; i < aCodes.length; i++) {
            hljs.highlightBlock(aCodes[i]);
        }
      }

    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35687107-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>

<body id="{% block body_id %}{% endblock %}">
  <div id="container">
    <div id="header">
      <h1></h1>
    </div> <!--/header-->

    <div id="body">
      <table><tr>
      <td>
    {% block body %}
      <div>
        {% block content_title %}{% endblock %}
      </div>
      <div class="content content-box">
        {% block content %}{% endblock %}
      </div>
    {% endblock %}
      </td>
      <td id="menu_right">
        <div>
          <ul>
            <li><a href="{% url posts:list %}">Записи</a></li>
            <li><a href="{% url about %}">Обо мне</a></li>
            <li class="resource_links">
              <a href="https://plus.google.com/116249723557063536298/posts" target="_blank"><img src="https://ssl.gstatic.com/images/icons/gplus-16.png"></a>
              &nbsp;
              <!--<a href="https://twitter.com/rufuse" target="_blank"><img src="{% static "/twitter-bird-light-bgs.ico" %}"></a>-->

            </li>
          </ul>
        </div>
      </td> <!--/menu_right-->

      </tr></table>
  </div> <!--/body-->
  <div id="clearfooter"></div>
</div> <!--/container-->
<div id="footer">
  <p>&copy; 2012 Denis Redozubov | <a href="{% url about %}">Что это?</a></p>
</div>
</body>
</html>
