<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />

    <title>Я ненавижу софт - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/magula.min.css">
    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>

    <script>

      window.onload = function() {
        var aCodes = document.getElementsByTagName('pre');
        for (var i=0; i < aCodes.length; i++) {
            hljs.highlightBlock(aCodes[i]);
        }
      }

    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37192801-1']);
      _gaq.push(['_setDomainName', 'denisredozubov.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</head>

<body id="{% block body_id %}{% endblock %}">
  <div id="container">
    <div id="header">
      <h1></h1>
    </div> <!--/header-->

    <div id="body">
      <table><tr>
      <td id="left-space"></td>
      <td id="content-space">
    {% block body %}
      <div>
        {% block content_title %}{% endblock %}
      </div>
      <div class="content content-box">
        {% block content %}{% endblock %}
      </div>
    {% endblock %}
      </td>
      <td id="menu_right">
        <div>
          <div id="menu_right_corner"></div>
          <div id="menu_right_content"  class="menu-box">
          <ul class="resource_links">
            <div id="menu_right_internal_links">
              <li><a href="{% url posts:list %}">Записи</a></li>
              <li><a href="{% url about %}">Обо мне</a></li>
            </div> <!--/menu_right_internal_links-->
            <div id="menu_right_splitter"></div>
              <li>
              <a href="{% url posts:feed %}" target="_blank"><img src="{% static "rss32x32_1.png" %}">&nbsp;Подписаться</a>
              </li>
            <div id="menu_right_splitter"></div>
            <div id="menu_right_external_links">
              <li>
                <a href="https://plus.google.com/u/0/111030171309041346467?rel=author" target="_blank"><img src="https://ssl.gstatic.com/images/icons/gplus-16.png">&nbsp;Google plus</a>
              </li>
              <li>
                <a href="http://habrahabr.ru/users/rufuse/" target="_blank"><img src="{% static "habr.png" %}">&nbsp;Хабрахабр</a>
              </li>
              <li>
                <a href="http://denisredozubov.moikrug.ru" target="_blank"><img src="{% static "moikrug.gif" %}">&nbsp;Мой Круг</a>
              </li>
              <li>
                <a href="https://twitter.com/rufuse" target="_blank"><img src="{% static "twitter.ico" %}">&nbsp;Twitter</a>
              </li>
              <li>
                <a href="http://www.linkedin.com/pub/denis-redozubov/36/b8b/4a7" target="_blank"><img src="{% static "linkedin.ico" %}">&nbsp;Linked In</a>
              </li>
            </div> <!--/menu_right_external_links-->
          </ul>
        </div>
      </div>
      </td> <!--/menu_right-->

      </tr></table>
  </div> <!--/body-->
  <div id="clearfooter"></div>
</div> <!--/container-->
<div id="footer">
  <p>&copy; 2012 Denis Redozubov | <a href="{% url about %}">Что это?</a></p>
</div>
</body>
</html>
