{% extends "base.html" %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block content %}
  <table id="posts">
    <tbody>
      <tr>
          <td class="post_title title-box"><a href="{{ post.slug }}">{{ post.title }}</a></td>
      </tr>
      <tr>
          <td class="post_date">{{ post.created_at }}</td>
      </tr>
      <tr>
        <td class="post_body" colspan="2">
            <p>{{ post.text|safe }}&nbsp;<a href="{{ post.slug }}">{% if post.text|length > 512 %}[полностью]{% endif %}</a></p>
        </td>
        </tr>
    </tbody>
  </table>

  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'dredozubov'; // required: replace example with your forum shortname
      var disqus_identifier = 'post:{{ post.slug }}';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          
{% endblock %}
