{% extends "base.html" %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block content %}
{% if posts %}
    <table id="posts">
      <tbody>
        {% for post in posts %}
            <tr>
                <td class="post_title"><a href="{{ post.slug }}">{{ post.title }}&nbsp;&#8594;</a></td>
            </tr>
            <tr>
                <td class="post_date">{{ post.created_at }}</td>
            </tr>
            <tr>
              <td class="post_body" colspan="2">
                <p>{{ post.text|safe|truncatechars:512 }}</p>
                <a href="{{ post.slug }}">{% if post.text|length > 512 %}[полностью]{% endif %}</a>
              </td>
            </tr>
            <tr>
              <td>
                  {% if is_paginated %}
                      <div class="pagination">
                          <span class="page-links">
                              {% if page_obj.has_previous %}
                                  <a href="/posts/?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                              {% endif %}
                              <span class="page-current">
                                  Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                              </span>
                              {% if page_obj.has_next %}
                                  <a href="/posts/?page={{ page_obj.next_page_number }}">Следующая</a>
                              {% endif %}
                          </span>
                      </div>
                  {% endif %}
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {# .... **Now the pagination section** .... #}
{% else %}
    <p>Видимо здесь пока что пусто. :(</p>
{% endif %}
{% endblock %}
